@font-face {
    font-family: 'Lexend Deca';
    src: url('./font/LexendDeca-Regular.ttf');
}

:root {
    --color-background: hsl(0, 0%, 0%);
    --color-text-default: hsl(0, 0%, 90%);
    --color-card-background: hsl(0, 0%, 10%);
    --color-accent: hsl(210, 64%, 26%);
    --color-accent-darker: hsl(210, 64%, 21%);
    --color-state-normal:hsl(123, 91%, 27%);
    --color-state-warning: hsl(46, 81%, 30%);
    --color-state-danger: hsl(0, 70%, 35%);
    --small: .2em;
    --normal: .4em;
    --medium: .6em;
    --large: .8em;
    --xlarge: 1em;
    --font-family-default: 'Lexend Deca', sans-serif;
    --font-size-default: 20px;
    --device-name-font-size: 1.7em;
    --device-status-font-size: 1.1em;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.color-state-normal{
    background-color: var(--color-state-normal) !important;
}

.color-state-warning{
    background-color: var(--color-state-warning) !important;
}

.color-state-danger{
    background-color: var(--color-state-danger) !important;
}

.addition{
    order: 9999;
}

.hidden{
    display: none !important;
    transition: 1s;
}

/* init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

.loading-holder{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: hsla(0, 0%, 10%, 0.95);
}

.loading-full{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: var(--medium);
}

.loading-full h3{
    font-size: var(--large);
    font-weight: lighter;
}

.button-group{
  display: flex;
  gap: var(--large);
  justify-content: center;
  margin: var(--large) 0 0 0;
}

.button-group > div{
  background-color: var(--color-accent);
  padding: var(--medium) var(--xlarge);
  text-align: center;
  border-radius: var(--medium);
}

.button-group > div:hover{
  box-shadow: 0 0 10px #666;
}

.hover-bloom:hover{
  box-shadow: 0 0 10px #666;
}

.clickable:hover{
  transition: .3s;
  cursor: pointer;
}

.plus {
  display:inline-block;
  background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000),
    #fff;
  background-position:center;
  background-size: 50% 4px,4px 50%;
  background-repeat:no-repeat;
}

.alt {
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff);
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.hovercards-holder{
  /* width: 100vw;
  height: 100vh; */
  background-color: hsla(0, 0%, 10%, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hovercards-card{
  min-height: 100px;
  margin: 50vh 0 0 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  padding: var(--xlarge);
  border-radius: var(--xlarge);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.table-default {
  border-collapse: separate;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  border-radius: 10px;
  counter-reset: row-num;
}

.table-default thead tr {
  background-color: var(--color-accent-darker);
  color: #ffffff;
  text-align: left;
}

.table-default th,
.table-default td {
    padding: 12px 15px;
}

.table-default tbody tr {
  border-bottom: thin solid #dddddd;
  background-color: var(--color-accent);
  counter-increment: row-num;
}

.table-default tbody tr td:first-child::before {
  content: counter(row-num);
}

.table-default tbody tr:nth-of-type(even) {
  background-color: var(--color-accent-darker);
}

.error-viewer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-state-danger);
  margin: var(--xlarge);
  padding: var(--xlarge);
  border-radius: var(--large);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 var(--xlarge) var(--color-background);
}

.error-viewer > h3 {
  font-size: 1em;
}

.error-viewer > div {
  height: 1.2em;
  width: 1.2em;
  transform: rotate(45deg);
}


/* loading spinner */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}