.visualizer-holder{
    background-image: linear-gradient(
        var(--color-accent) calc(100% - 7em),
        rgba(0,0,0,0)
    );
    /* background-color: var(--color-accent); */
    padding: var(--xlarge);
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
}

.back-to-dashboard{
    width: fit-content;
}

.name-text{
    font-size: 3em;
    text-align: center;
    margin: -20px auto 0 auto;
}

.button-rescale{
    position: absolute;
    top: var(--xlarge);
    right: var(--xlarge);
}

.button-rescale > svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--color-text-default);
}