.visualizer-holder{
    background-image: linear-gradient(
        var(--color-accent) calc(100% - 7em),
        rgba(0,0,0,0)
    );
    /* background-color: var(--color-accent); */
    padding: var(--xlarge);
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
}

.back-to-dashboard{
    width: fit-content;
}

.name-text{
    font-size: 3em;
    text-align: center;
    margin: -20px auto 0 auto;
}

.button-rescale{
    position: absolute;
    top: var(--xlarge);
    right: var(--xlarge);
}

.button-rescale > svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--color-text-default);
}

.doc-holder{
    margin-top: -5em;
    padding: var(--xlarge);
}

.doc-holder > h2{
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.doc-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: var(--xlarge);
}

.doc-card{
    z-index: 10;
    padding: var(--large);
    background-color: var(--color-card-background);
    border-radius: var(--large);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.doc-card > h2{
    text-align: center;
}

.holder-button > *{
    margin: auto;
}

.holder-title{
    flex-grow: 1;
}

.holder-title > h2{
    font-size: 1.7em;
}

.holder-title > h3{
    font-size: .8em;
    font-weight: lighter;
}