@font-face {
    font-family: 'Lexend Deca';
    src: url('./font/LexendDeca-Regular.ttf');
}

:root {
    --color-background: hsl(0, 0%, 0%);
    --color-text-default: hsl(0, 0%, 90%);
    --color-card-background: hsl(0, 0%, 10%);
    --color-accent: hsl(210, 64%, 31%);
    --color-state-normal:hsl(123, 91%, 27%);
    --color-state-warning: hsl(46, 81%, 30%);
    --color-state-danger: hsl(0, 70%, 35%);
    --small: .2em;
    --normal: .4em;
    --medium: .6em;
    --large: .8em;
    --xlarge: 1em;
    --font-family-default: 'Lexend Deca', sans-serif;
    --font-size-default: 20px;
    --device-name-font-size: 1.7em;
    --device-status-font-size: 1.1em;
}

.color-state-normal{
    background-color: var(--color-state-normal) !important;
}

.color-state-warning{
    background-color: var(--color-state-warning) !important;
}

.color-state-danger{
    background-color: var(--color-state-danger) !important;
}

.addition{
    order: 9999;
}

.hidden{
    display: none !important;
    transition: 1s;
}

/* init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

.device-holder{
    margin: var(--xlarge);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    grid-gap: var(--xlarge);
}

.device{
    background-color: var(--color-card-background);
    padding: var(--large);
    width: 400px;
    border-radius: var(--large);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    flex-grow: 1;
    transition: .3s;
}

.device:hover{
    box-shadow: 0 0 10px #666;
    transition: .3s;
}

.additional-holder{
    margin: auto;
    display: flex;
    gap: var(--large);
}

.additional-holder > h3 {
    margin: auto;
}

.additional-holder > svg {
    width: 2em;
    height: 2em;
    fill: var(--color-text-default);
}

.plus-symbol{
    position: relative;
    width: 2em;
    height: 2em;
}

.plus-symbol::after{
    content: '';
    position: absolute;
    left: 40%;
    top: 5%;
    width: 20%;
    height: 90%;
    background-color: var(--color-text-default);
    border-radius: .2em;
}

.plus-symbol::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    height: 20%;
    background-color: var(--color-text-default);
    border-radius: .2em;
}

.device-header{
    padding-bottom: var(--medium);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.device-header .device-name{
    font-size: var(--device-name-font-size);
    margin: 0;
    padding: 0;
}

.device-header .device-status{
    font-size: var(--device-status-font-size);
    padding: calc(
        (
            var(--device-name-font-size) - 
            var(--device-status-font-size)
        ) / 2
    ) var(--medium);
    border-radius: var(--small);
}

.device-header .right{
    display: flex;
    flex-direction: row;
    grid-gap: var(--medium);
}

.device-measurement{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    grid-gap: var(--large);
}

.device-measurement > div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-content: stretch;
    grid-gap: var(--normal);
}

.device-measurement .temperature {
    flex-grow: 5;
}

.device-measurement .digital {
    flex-grow: 3;
}

.device-measurement > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: var(--medium); */
    background-color: var(--color-background);
    border-radius: var(--normal);
    grid-gap: var(--medium);
}

.device-measurement > div > div > *{
    padding: var(--normal);
}

.zone-text{
    margin: auto 0;
}

.zone-value{
    font-size: 1.4em;
    background-color: var(--color-accent);
    border-radius: var(--small);
}

.zone-value::after{
    content: '°C';
}

.digital-status-value{
    border-radius: var(--small);
}

.error-viewer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-state-danger);
    margin: var(--xlarge);
    padding: var(--xlarge);
    border-radius: var(--large);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 var(--xlarge) var(--color-background);
}

.error-viewer > h3 {
    font-size: 1em;
}

.error-viewer > .plus-symbol {
    height: 1.2em;
    width: 1.2em;
    transform: rotate(45deg);
}