.scaler-holder{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--xlarge);
    padding: var(--xlarge);
}

.scaler-holder > *:first-child{
    margin-top: 0;
}

.scaler-holder > h2{
    text-align: center;
    font-size: 2.5em;
}

.temperature-viewer > h3{
    text-align: center;
    font-size: 1.5em;
    margin: var(--xlarge) 0 var(--normal) 0;
}

.temp-card-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: var(--xlarge);
}

.temp-card{
    background-color: var(--color-card-background);
    border-radius: var(--xlarge);
    padding: var(--large);
    flex-grow: 1;
}

.temp-card h3{
    font-size: 4em;
    text-align: center;
}

.temp-card > .temp-multi{
    font-size: 1.7em;
    text-align: left;
}

.temp-card > .temp-multi:first-child::before{
    content: 'thermocontroller : ';
    font-weight: lighter;
}

.temp-card > .temp-multi:last-child::before{
    content: 'measurement : ';
    font-weight: lighter;
}

.temp-card h3::after{
    content: '°C';
}

.back-to-device{
    cursor: pointer;
}